<h2>All links by <%= @user.username %></h2>

<% @user_links.each do |link| %>
	<%= render "/layouts/links_feed", link: link, link_content_if_user: "span10", link_content_if_not_users: "span7", spanmeta_if_not_users: "span2" %>

<% end %>

<%= will_paginate @user_links, :renderer => BootstrapPagination::Rails %>