


<h2>Here are all the links that matched "<%= params[:q] %>"</h2>
<% @links.each do |link| %>
	
		<%= render '/layouts/links_feed', link: link, spaninfo: "span7", spaninfo_user: "span10" %>

<% end %>
<%= will_paginate @links, :renderer => BootstrapPagination::Rails %>