<div class="center hero-unit">
  <h1>Reddit on rails</h1>
  <p>Ou le sign up today</p>
  <p>
    <a data-toggle="modal" role="button" href="#signup" class="btn btn-primary btn-large">
          Sign up
    </a>
  </p>
</div>