<h2>Top Links</h2>
<div class="page-header"></div>
<% if @links.empty? %>
		<h4>There are currently no top links</h4>
<% else %>
<% @links.each do |link| %>
		
		<%= render '/layouts/links_feed', link: link, link_content_if_user: "span10", link_content_if_not_users: "span7", spanmeta_if_not_users: "span2" %>

<% end %>

<% end %>
<%= will_paginate @links, :renderer => BootstrapPagination::Rails %>