@import "bootstrap";
@import 'shadowbox';


.modal {
	width:350px;
	left: 55%;
}

.modal-signup {
	width:800px;
	left: 40%;
}

.meta{
	width: 80px;
	height: auto;
	float: left;
	border-right: 1px solid #ccc;
	padding: 10px 10px 10px 10px;
}
.meta-none{
	width: 40px;
	height: auto;
	float: left;
	border-right: 1px solid #ccc;
	padding: 10px 0px 10px 0px;
}

.span9 p{
	margin: 0;
	padding: 0;
}


span.label a{
	color: #fff;

	&:hover{
		color: #fafafa;
		text-decoration: none;
	}
}

span.error{
	display: none;
}

.field_with_errors{
	@extend .control-group;
	@extend .error;
}

#error_explanation {
	color: #CC0000;

	ul{
		list-style: none;
		margin: 0 0 10px 0;
	}
}

li.image img{
	width: 40px;
	height: 40px;
	margin-left: 30px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
}


li.image a{
	margin: 0;
	padding: 0 !important;
}
