<h1><%= @subreddit.name %></h1>
<div class="page-header"></div>
<% @links.each do |link| %>
	<%= render partial: '/layouts/links_feed', locals: {link: link} %>

<% end %>
<%= will_paginate @links, :renderer => BootstrapPagination::Rails %>